.btn {
    padding: em(8) em(15);
    line-height: #{(15/16)};
    border: none;
    -webkit-appearance: none;
    background-color: $main-red;
    color: $color-white;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    @include transition (background-color .3s ease-in-out);

    &:hover,
    &:focus {
        background-color: lighten($main-red, 10%);
        }

    }