.btn {
    display: inline-block;
    padding: em(8) em(15);
    line-height: #{(15/16)};
    border: none;
    -webkit-appearance: none;
    background-color: lighten($color-grey, 10%);
    color: $color-black;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    text-align: center;
    @include transition (background-color .3s ease-in-out);

    &,
    &:link,
    &:visited {
        text-decoration: none;
        }

    &:hover,
    &:focus {
        background-color: $color-grey;
        }

    &.btn-action {
        background-color: $main-red;
        color: $color-white;

        &:hover,
        &:focus {
            background-color: lighten($main-red, 10%);
            }

        }

    &.btn-large {
        padding-top: em(11);
        padding-bottom: em(11);
        font-size: em(24);
        }

    }