.form {
	padding: 0 em(10);

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		@include box-sizing(border-box);
		width: 100%;
		}

	.btn-action {
		margin-top: em(10);
		}

	}

.form-row {
	margin-bottom: em(12);
	}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	padding: em(7) em(5) em(4) em(5);
	color: $form-input-color;
	border: 1px solid $form-border-color;
	line-height: #{(15/16)};
	@include transition (
		color .3s ease-in-out,
		border-color .3s ease-in-out,
		box-shadow .3s ease-in-out
	);

	&:hover {
		border-color: darken($form-border-color, 15%);
		}

	&:focus {
		color: darken($form-input-color, 30%);
		border-color: darken($form-border-color, 30%);
		box-shadow: 0 0 em(6) lighten($main-red, 10%);
		outline: none;
		}

	.error & {
		border-color: $main-red;
		color: $main-red;
		}

	}

textarea {
	line-height: #{(20/16)};
	}