/*
 * Result-Page
**/

.result-page .main-content {
	padding-top: 0;
	}

.user-tabs {
	padding: em(2) 0;
	margin: em(1) 0;
	background-color: lighten(desaturate($main-red, 45%), 5%);
	// @include linear-gradient($user-tabs-bright, $color-black);
	}

.user-tab {
	position: relative;
	display: inline-block;
	padding: em(7);
	cursor: pointer;
	@include transition(all .4s ease-in-out);

	&.current {
		padding-bottom: em(10);
		margin-bottom: em(-3);
		background-color: darken($color-grey, 10%);

		img {
			opacity: 1;
			box-shadow: none;
			}

		}

	&:after {
		display: block;
		position: absolute;
		content: '';
		top: em(7);
		right: em(7);
		bottom: em(7);
		left: em(7);
		box-shadow: inset 0 0 10px $color-black;
		}

	img {
		opacity: .7;
		@include transition(opacity .3s ease-in-out);
		}

	&:hover img {
		opacity: 1;
		}

	}

.user-caption {
	margin-bottom: em(10);
	line-height: em(28);
	background-color: darken($color-grey, 10%);
	color: $color-white;
	}

.result-comment-left {
	width: 100%;
	float: left;
	padding-right: em(70);
	@include box-sizing (border-box);
	}

.result-comment-textarea {
	width: 100%;
	resize: none;
	}

.result-comment-right {
	float: none;
	}




