.alert {
	padding: em(6, 13) em(9, 13);
	margin-bottom: em(16, 13);
	border: 1px solid $color-grey;
	background-color: $color-light-grey;
	border-radius: 2px;
	box-shadow: 0 em(1, 13) em(2, 13) rgba(0,0,0,.3);
	font-size: em(13);
	text-align: center;

	&.error {
		color: darken($main-red, 10%);
		background-color: lighten($main-red, 45%);
		border-color: darken($main-red, 20%);
		}

	}