body {
    font-family: sans-serif;
    font-weight: normal;
    background-color: $main-bg;
    color: $color-black;
    }

.align-left {
    text-align: left;
    }
.align-center {
    text-align: center;
    }
.align-right {
    text-align: right;
    }

a:link,
a:visited {
    color: lighten($color-black, 10%);
    text-decoration: underline;
    }
a:hover,
a:focus {
    text-decoration: none;
    }