/*
 * Result-Page
**/

.result-page .main-content {
	padding-top: 0;
	}

.user-tabs {
	padding: 1px 0;
	@include linear-gradient($user-tabs-bright, $color-black);
	}

.user-tab {
	display: inline-block;
	padding: em(7);
	@include transition(background-color .4s ease-in-out);

	&.current {
		background-color: $color-grey;

		img {
			opacity: 1;
			box-shadow: none;
			}

		}

	img {
		cursor: pointer;
		opacity: .7;
		box-shadow: 0 0 10px $color-black;
		@include transition(opacity .3s ease-in-out);

		&:hover {
			opacity: 1;
			}

		}

	}

.user-caption {
	line-height: em(28);
	background-color: $color-grey;
	color: $color-white;
	}