<!DOCTYPE html>
<!--[if IEMobile 7 ]><html lang="de" class="no-js iem7" data-ng-app="lunchroulette"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html lang="de" class="no-js" data-ng-app="lunchroulette"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>

  <title>Lunchroulette</title>
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="cleartype" content="on">


  <%= stylesheet_link_tag "application" %>
</head>
<body>

  <nav-view animation="slide-left-right-ios7"></nav-view>

<%= javascript_include_tag "application" %>
</body>
</html>